services:
  - type: web
    name: auth-project
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    region: oregon
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: auth-mysql
          property: connectionString
      - key: DATABASE_USERNAME
        fromDatabase:
          name: auth-mysql
          property: user
      - key: DATABASE_PASSWORD
        fromDatabase:
          name: auth-mysql
          property: password
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_ACCESS_TOKEN_EXPIRATION
        value: "900000"
      - key: JWT_REFRESH_TOKEN_EXPIRATION
        value: "604800000"
      - key: JWT_REFRESH_TOKEN_COOKIE_NAME
        value: "refreshToken"
      - key: JWT_REFRESH_TOKEN_SECURE
        value: "true"
      - key: JWT_REFRESH_TOKEN_HTTP_ONLY
        value: "true"

databases:
  - name: auth-mysql
    databaseName: auth_project
    user: auth_user
    plan: free